body{
    margin: 0px;
    background-color: #3F0071;
}
.container{
    width: 100%;
}

.grid-container{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 60px;
    background-color: #3F0071;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
}
.item{
    background-color: cadetblue;
    /* height: 150px; */
    
}
.item1 img{
    width: 60px;
    height: 60px;
}
.item1{
    display: flex;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: none;
    font-size: 25px;
    font-weight: 900;
    align-items: center;
}
.item2{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 20px;
}
.item2 p{
    margin-right:20px;
    font-weight: 600;
    color: #150050;
}
/* .extra-box1{
    border: 1px solid red;
    background-color: salmon;
    z-index: -1;
    position: relative;
    top: 10px;
    width: 70%;
} */
.t-box{
    width: 50px;
    height: 55px;
    background-color: #F0E5CF;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3D087B;
    border-radius: 5px;
    justify-content: space-around;
}
.AM-PMS{
    font-size: 25px;
    padding: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(#EB92BE,#8236CB);
    color: white;
}
.item3{
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border-left: 1px solid black;
    
}
.i3-order{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    font-size: 21px;
    color: purple;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}
.dropdown select{
    width:200px;
    border: 1px solid purple;
    height: 35px;
    border-radius: 5px;
}
.item4{
    width: 100%;
    border-radius: 10px;
    background-size: 100px 100px;background-color: black;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 9;
    float: right;
    background-image: url(./images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.item4 .texx{
    font-size: 30px;
    color: #BFA2DB;
    font-family: fantasy;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 30px;
}
/* .item4 img{
    width: 100%;

    height: 100%;
    background-color: unset;
} */
.item5{
    background-color: #610094;
    border-radius: 10px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 25px;
}
.item6{
    width: 50%;
    color: white;
    background-image: linear-gradient(to right ,purple,blue ,violet);
    border-radius: 5px;
}
.item6 p{
    margin-left: 24%;
}